<div class="container d-flex justify-content-center align-items-center vh-100 custom-mobile-margin">
  <div class="row w-75 w-md-75 shadow-lg rounded overflow-hidden">
    <!-- Left Side: Company Name -->
    <div class="col-12 col-md-6 bg-primary text-white d-flex flex-column justify-content-center align-items-center p-4 theme-color">
      <h1 class="display-6 text-center">{{shopName}}</h1>
      <p class="text-center d-none d-md-block">Shop me</p>
      <!-- Sign Up Button (Visible on Desktop Only) -->
      <button class="btn theme-secondary-color-button mt-3 d-none d-md-block" (click)="navigateToSignUp()">Sign Up</button>
    </div>

    <!-- Right Side: Login Form -->
    <div class="col-12 col-md-6 bg-light p-4">
      <h3 class="text-center mb-4 theme-color-text">Login</h3>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignIn()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Enter your email"
            formControlName="email"
            required
          />
          <div *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.invalid" class="text-danger">
            <small *ngIf="signInForm.get('email')?.errors?.['required']">Email is required</small>
            <small *ngIf="signInForm.get('email')?.errors?.['email']">Please enter a valid email address</small>
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Enter your password"
            formControlName="password"
            required
          />
          <div *ngIf="signInForm.get('password')?.touched && signInForm.get('password')?.invalid" class="text-danger">
            <small *ngIf="signInForm.get('password')?.errors?.['required']">Password is required</small>
          </div>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn theme-color-button" [disabled]="signInForm.invalid">Login</button>
        </div>

        <div class="text-center mt-3">
          <a href="/forgot-password" class="text-decoration-none theme-color-text">Forgot password?</a>
        </div>
      </form>

      <!-- Sign Up Link (Visible on Mobile Only) -->
      <div class="text-center mt-4 d-block d-md-none">
        <span>Don’t have an account?</span>
        <a (click)="navigateToSignUp()" class="text-decoration-none" style="color: blue;" (click)="navigateToSignUp()">Sign up</a>
      </div>
    </div>
  </div>
</div>
