/* Global padding and margin adjustments for mobile devices */
@media (max-width: 576px) {
    .card {
      margin-bottom: 20px;
    }
  
    .form-control {
      font-size: 14px;
    }
  
    .btn {
      font-size: 14px;
    }
  
    h4 {
      font-size: 18px;
    }
  }
  
  /* Tablet view adjustments */
  @media (min-width: 576px) and (max-width: 768px) {
    .card {
      margin-bottom: 30px;
    }
  
    .form-control {
      font-size: 16px;
    }
  
    .btn {
      font-size: 16px;
    }
  
    h4 {
      font-size: 20px;
    }
  }
  
  /* Desktop view adjustments */
  @media (min-width: 769px) {
    .card {
      margin-bottom: 40px;
    }
  
    .form-control {
      font-size: 18px;
    }
  
    .btn {
      font-size: 18px;
    }
  
    h4 {
      font-size: 22px;
    }
  }
  
  .scrollable-card-body {
    overflow-y: auto;
    padding-bottom: 80px; /* To avoid content overlapping with the button */
  }

  .fixed-footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 15px;
    z-index: 10;
  }

  /* For mobile view */
  @media (max-width: 767px) {
    .scrollable-card-body {
      max-height: 500px;
    }
  }

  /* For tablets */
  @media (min-width: 768px) and (max-width: 991px) {
    .scrollable-card-body {
      max-height: 400px;
    }
  }

  /* For desktops */
  @media (min-width: 992px) {
    .scrollable-card-body {
      max-height: 500px;
    }
  }

    /* Hover styles */
.theme-color {
    background-color: var(--primary-color) !important;
    color: white !important;
  }
  
  .btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    color: #fff;
}
