<div class="container mt-5">
    <h3>Forgot Password</h3>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Enter your email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Email Address"
          formControlName="email"
        />
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger">
          Please enter a valid email.
        </div>
      </div>
      <button type="submit" class="btn theme-color-button" [disabled]="forgotPasswordForm.invalid">
        Reset Password
      </button>
    </form>
    <div *ngIf="message" class="alert alert-info mt-3">
      {{ message }}
    </div>
  </div>
  